<div fxFlexFill [ngClass]="{'dark-theme': isDarkMode}" class="mat-app-background">
    <app-header></app-header>

    <div fxLayout="row wrap" fxLayoutGap.gt-sm="30px" fxLayoutAlign="center start" class="container">
        <div fxFlex="50%" fxFlex.lt-md="90% ">
            <div class="examples">
                <mat-chip-list aria-label="Fish selection">
                    <mat-chip [routerLink]="['/']">Home Page</mat-chip>
                    <mat-chip [routerLink]="['/auth']">Login Page</mat-chip>
                </mat-chip-list>
            </div>
            <router-outlet></router-outlet>
        </div>
    </div>
</div>