<div fxFlexFill [ngClass]="{'dark-theme': isDarkMode}">
    <h1 mat-dialog-title>{{isSignUp ? 'Sign Up' : 'Login'}}</h1>
    <div>
        <form [formGroup]="authForm" (ngSubmit)="onSubmit()">

            <mat-form-field color="accent" appearance="outline">
                <mat-label>Email</mat-label>
                <input matInput formControlName="email" placeholder="Enter your email" type="email">
                <mat-icon matSuffix>email</mat-icon>
            </mat-form-field>

            <mat-form-field color="accent" appearance="outline">
                <mat-label>Password</mat-label>
                <input matInput formControlName="password" placeholder="Enter your password" [type]="hide ? 'password' : 'text'">
                <mat-icon style="cursor: pointer;" matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </mat-form-field>

            <mat-form-field *ngIf="isSignUp" color="accent" appearance="outline">
                <mat-label>Confirm</mat-label>
                <input matInput formControlName="cpassword" placeholder="Confirm your password" type="password">
                <mat-hint *ngIf="isNotMatch" align="start"><strong>Password didn't match</strong> </mat-hint>
            </mat-form-field>
            <div fxLayout="row" fxLayoutAlign="space-between start">
                <button type="button" mat-flat-button (click)="changeMode()">{{isSignUp ? 'Login Instead!' : 'Create New Account!'  }}</button>
                <button [disabled]="!authForm.valid" type="submit" mat-stroked-button>{{isSignUp ? 'Sign up' : 'Login'}}</button>
            </div>
        </form>
    </div>
</div>