
@import "~@angular/material/theming";
@include mat-core();

$ngconf-primary: mat-palette($mat-gray, 100);
$ngconf-accent: mat-palette($mat-gray, 400);
$ngconf-warn: mat-palette($mat-red);
$ngconf-theme: mat-light-theme($ngconf-primary, $ngconf-accent, $ngconf-warn);

@include angular-material-theme($ngconf-theme);

.dark-theme {
  $dark-primary: mat-palette($mat-gray, 900);
  $dark-accent: mat-palette($mat-amber);
  $dark-warn: mat-palette($mat-red);
  $dark-theme: mat-dark-theme($dark-primary, $dark-accent, $dark-warn);
  @include angular-material-theme($dark-theme);
}


body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
 }

 html, body{
   height: 100% !important;
 }

.spacer {
  flex: 1 1 auto;
}
